footer {
    background-color: rgb(32, 29, 72);
    width: 100vw;
    position: absolute;
    left: 0%;

    a:hover {
        text-decoration: underline !important;
    }

    div.policy-links > a, div.disclaimer {
        font-size: 0.75rem;
    }

    button.position {
        background-color: #18152c;
        width: 85px;
        height: 38px;
        font-size: 0.875rem;
        gap: .8rem;
        padding: 7px 0.75rem;
    }

    .accordion::after, .accordion-button::after, .accordion-button:not(.collapsed)::after {
        background-image: url("./assets/imgs/arrow-right.svg");
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        filter: invert(87%) sepia(79%) saturate(0%) hue-rotate(95deg) brightness(109%) contrast(102%);
    }

    .accordion-button:focus {
        border: none;
        box-shadow: none;
    }
    
    .accordion-button::after {
        transform: rotate(90deg);
    } 

    .accordion-button:not(.collapsed)::after {
        transform: rotate(270deg);
    }

    .accordion-button:not(.collapsed) {
        box-shadow: none;
    }

    @media (min-width: 992px) {
        .accordion-button {
            cursor: auto !important;
        }

        .accordion::after, .accordion-button:after, .accordion-button:not(.collapsed)::after {
            display: none;
        }
    }

    @media (max-width: 992px) {
        .accordion > *, .row {
            width: 100vw;
        }
        .col-logo-lego, .social, .policy-links, .disclaimer {
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
        } 
        .container {
            margin-left: 0;
            margin-right: 0;
        }
        .accordion-item {
            padding-left: 0;
            padding-right: 0;
        }
        .accordion a {
            font-size: 0.875rem;
            border-bottom: 1px solid white;
        }
        .accordion h2 {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
    }

    @media (max-width: 576px) {
        button.position {
            width: 97px;
            height: fit-content;
            font-size: 1.125rem;
            padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
        }
        img.lego-logo {
            width: 4.375rem;
            height: 4.375rem;
        }
    } 
}