@media (max-width: 578px) {
    .show  {
        .modal-dialog {
            .modal-content {    
                    margin-top: -0.6rem;
                    margin-left: -0.6rem;           
                    min-width: 100vw !important;
                    min-height: 100vh !important;
            }
            }
        }
}
