body {
    overflow-x: hidden;
}

.offcanvas-body {
    width: fit-content;
}
nav {
    ::-webkit-scrollbar {
        display: none;
    }
    
    transition: all 0.3s ease-in-out;

    .first-nav-cont {
        background-color: #f8f8f8;

        .first-nav {
            height: 55px;
            width: 100%;
            max-width: 1500px;

            .slideshow-containerOne {
                width: 45%;
                min-width: 22rem;
                max-width: 30rem;
                margin: auto;

                .prevOne {
                    width: 2rem;
                }

                .nextOne {
                    width: 2rem;
                }

                .mySlidesOne {
                    max-width: 90%;
                    .numbertextOne {
                        max-height: 5rem;
                        padding: 0 10px;
                        font-size: 0.75rem;
                        font-weight: 400;
                        line-height: 1.1875rem;
                    }
                }
            }
            .x900px {
                cursor: pointer;
            }
        }

        .first-nav-right {
            white-space: nowrap;
            font-size: 0.75rem;
            font-family: 'cera pro', sans-serif;

            .head-vip {
                .img-head {
                    width: 25px !important;
                }
                .img-vip {
                    width: 25px !important;
                }
        }
        .separatore {
            margin: 0px 1.25rem;
            width: 0.0625rem;
            height: 1.25rem;
        }
    }
    }

    .cont-personal {

        .custom-aa {
            .icon-container {
                margin: 15px;
                cursor: pointer;
            
                span {
                    font-size: 0.45rem;
                    display: block;
                }

                .hamburger {
                    padding: 1px 0;
                    margin: 9px 0;
                }
            }
        }

        .nav-links:hover {
            text-decoration: underline !important;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px !important;
        }
        h6 {
            padding-left: 2rem;
            padding-bottom: 1rem;
        }
        ul {
            min-width: 230px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding-left: 40px;
            min-height: 72.5vh;
            overflow: scroll;
            li {
                cursor: pointer;
                list-style-type: none;
            }
        }
        .hamburger-menu {
            width: 375px;
            ul {
                li{
                    height: 50px;
                    border-bottom: 1px solid #d9d9d9;
                    padding: 0 1.25rem;
                    display: flex;
                    align-items: center;
                }
            }
            @media (max-width:568px) {
                & {
                    width: 100vw;
                }
            }
        }
        .nav-left {
            .search-btn {
                border-radius: 3rem;
                border: none;
                min-height: 40px;
                min-width: 40px;
            }
        }
    }
}

@media (max-width:768px) {
    .yellow-nav {
        border-bottom: 2px solid #fecf03;
    }
}

@media (min-width:768px) {
    .bg-md-warning {
        background-color: #fecf03 !important;
    }
}

@media (max-width: 578px) {
    .show  {
        .modal-dialog {
            .modal-content {    
                    margin-top: -0.49rem;
                    margin-left: -0.49rem;           
                    min-width: 100vw !important;
                    min-height: 100vh !important;
            }
            }
        }
}

@media (max-width:408px) {
    .first-nav-cont {
        display: none !important;
    }
}

@media (max-width:368px) {
    .nav-left {
        .head2, .heart, .bag {
            display: none;
        }
    }
}