.navbar {
    .cont-personal {
        .nav-left {
            .search-btn {
                border-radius: 3rem;
                border: none;
                min-height: 40px;
                min-width: 40px;
            }
        }
    }
}