.rotate-180 {
    rotate: 180deg;
}

.carousel-btn {
    min-height: 2.5rem;
    min-width: 2.5rem;
    border: 1px solid lightgrey;
    z-index: 1;
}

.container-xxxl {
    max-width: 1420px;
    width: 100vw;
    margin: auto;
}

.my-ratio {
    aspect-ratio: 1/1;
}

@media (max-width:1400px) {
    .carousel-btn-absolute {
        position: absolute;
    }
}

.set-in-evidenza ::-webkit-scrollbar {
    width: 0;
    height: 5px;
    transition: all 0.2s;
    display: block;
    background-color: white;
        cursor: pointer;
    
}

.set-in-evidenza ::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 0;
    margin: 0 10vw;
}

.set-in-evidenza ::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 0;
    cursor: pointer;
}


@media (max-width:1200px) {
    .set-in-evidenza ::-webkit-scrollbar-track {
        margin: 0 20px;
    }
}

.z-index-1 {
    z-index: 1;
}
