
.bg-warning {
    background-color: #fecf03 !important;
}

.cont-personal {
    width: 100vw;
    max-width: 1500px;
    margin: auto;
}

.rotate-180 {
    rotate: 180deg;
}

.container-xxxl {
    max-width: 1420px;
    width: 100vw;
    margin: auto;
}

.my-ratio {
    aspect-ratio: 1/1;
}

.z-index-1 {
    z-index: 1;
}

.fs-7 {
    font-size: 0.75rem;
}

.container-1600 {
    max-width: 1610px;
    width: 100vw;
    margin: auto;
}
.z-index-2 {
    z-index: 2;
}