@import "./Design/design.css";
.cont-personal {
  width: 100vw;
  max-width: 1500px;
  margin: auto;
}

.card:hover .text-body {
  text-decoration: underline !important;
}

.rotate-180 {
  rotate: 180deg;
}

.carousel-btn {
  min-height: 2.5rem;
  min-width: 2.5rem;
  border: 1px solid lightgrey;
  z-index: 1;
  transition: all 0.2s;
}

.carousel-btn:hover {
  background-color: #e0e0e0 !important;
}

.container-xxxl {
  max-width: 1420px;
  width: 100vw;
  margin: auto;
}

.my-ratio {
  aspect-ratio: 1/1;
}

@media (max-width: 1400px) {
  .carousel-btn-absolute {
    position: absolute;
  }
}
.set-in-evidenza ::-webkit-scrollbar {
  width: 0;
  height: 5px;
  transition: all 0.2s;
  display: block;
  background-color: white;
  cursor: pointer;
}

.set-in-evidenza ::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 0;
  margin: 0 10vw;
}

.set-in-evidenza ::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 0;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .set-in-evidenza ::-webkit-scrollbar-track {
    margin: 0 20px;
  }
}
.z-index-1 {
  z-index: 1;
}

* {
  font-family: "cera pro", sans-serif;
  margin: 0;
}

main {
  background-image: url(./assets/imgs/1804-REVEAL-Home-202211-Hero1-Standard-Large.webp);
  background-position: top center;
  background-size: 100vw auto;
  background-position: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 32vw;
  max-width: 1600px;
  margin: auto;
}
main .main-text h1 {
  font-size: 5rem;
  height: 5.5rem;
}
main .main-text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
main .main-text h3 {
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.8rem;
  padding: 0 1rem;
}
main .btn-container {
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
main .btn-container .white-btn {
  padding: 0.85rem 1.08rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.15s;
}
main .btn-container .white-btn .white-btn svg {
  margin-left: 1rem;
  padding-left: 0;
}
main .btn-container .white-btn:hover {
  color: white !important;
  background-color: black;
  cursor: pointer;
}

.sub-main-container {
  width: 100vw;
  gap: 2vw;
  flex-wrap: wrap;
}
.sub-main-container .big-icons img {
  width: 5rem;
}
.sub-main-container .big-icons span {
  width: 5rem;
  font-size: 0.8rem;
  transition: all 0.15s;
}
.sub-main-container .big-icons:hover span {
  text-decoration: underline;
  color: #016db7 !important;
}
.sub-main-container .big-icons:hover img {
  filter: opacity(0.8);
}

@media (max-width: 1200px) {
  main .main-text h2 {
    font-size: 1.5rem;
  }
  main .main-text h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  main .btn-container {
    margin-top: 1rem;
  }
}
@media (max-width: 978px) {
  main .main-text h2 {
    font-size: 1.2rem;
  }
  main .main-text h3 {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  main .btn-container {
    margin-top: 0.8rem;
  }
  main br {
    display: none;
  }
}
@media (max-width: 978px) {
  h1 {
    display: none;
  }
  .btn-container {
    padding-bottom: 0;
  }
}
@media (max-width: 573px) {
  main {
    background-color: #001531;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  main .main-text {
    margin-top: -4rem;
  }
  main .main-text h1 {
    display: block;
  }
  .sub-main-container .big-icons img {
    display: block;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
