@import "./Design/design.css";
.main-container {
  width: 100vw;
  min-height: 32vw;
  height: fit-content;
  max-height: 60vh;
}
.main-container .main-text h1 {
  font-size: 5rem;
  height: 5.5rem;
}
.main-container .main-text h2 {
  font-size: 2.5rem;
}
.main-container .main-text h3 {
  font-size: 1.13rem;
  line-height: 1.8rem;
}

.sub-main-container .big-icons {
  width: 5rem;
}
.sub-main-container .big-icons span {
  font-size: 0.8rem;
  transition: all 0.15s;
}
.sub-main-container .big-icons:hover span {
  text-decoration: underline;
  color: #016db7 !important;
}
.sub-main-container .big-icons:hover img {
  filter: opacity(0.8);
}

@media (max-width: 1200px) {
  .main-container .main-text h2 {
    font-size: 1.5rem;
  }
  .main-container .main-text h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 978px) {
  .main-container .main-text h2 {
    font-size: 1.2rem;
  }
  .main-container .main-text h3 {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
@media (max-width: 576px) {
  .main-container {
    background-color: #001531;
    margin-top: -6rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 568px) {
  .d-xs-block {
    display: block !important;
  }
}
.card:hover .text-body {
  text-decoration: underline !important;
}

.carousel-btn {
  padding: 0.5rem;
  border: 1px solid lightgrey;
  z-index: 1;
  transition: all 0.2s;
}
.carousel-btn img {
  margin: 0 7px;
}
.carousel-btn:hover {
  background-color: #e0e0e0 !important;
}

@media (max-width: 1400px) {
  .carousel-btn-absolute {
    position: absolute;
  }
}
.set-in-evidenza ::-webkit-scrollbar {
  width: 0;
  height: 5px;
  transition: all 0.2s;
  display: block;
  background-color: white;
  cursor: pointer;
}

.set-in-evidenza ::-webkit-scrollbar-track {
  background-color: #d9d9d9;
  border-radius: 0;
  margin: 0 10vw;
}

.set-in-evidenza ::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 0;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .set-in-evidenza ::-webkit-scrollbar-track {
    margin: 0 20px;
  }
}
footer {
  background-color: rgb(32, 29, 72);
  width: 100vw;
  position: absolute;
  left: 0%;
}
footer a:hover {
  text-decoration: underline !important;
}
footer div.policy-links > a, footer div.disclaimer {
  font-size: 0.75rem;
}
footer button.position {
  background-color: #18152c;
  width: 85px;
  height: 38px;
  font-size: 0.875rem;
  gap: 0.8rem;
  padding: 7px 0.75rem;
}
footer .accordion::after, footer .accordion-button::after, footer .accordion-button:not(.collapsed)::after {
  background-image: url("./assets/imgs/arrow-right.svg");
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  filter: invert(87%) sepia(79%) saturate(0%) hue-rotate(95deg) brightness(109%) contrast(102%);
}
footer .accordion-button:focus {
  border: none;
  box-shadow: none;
}
footer .accordion-button::after {
  transform: rotate(90deg);
}
footer .accordion-button:not(.collapsed)::after {
  transform: rotate(270deg);
}
footer .accordion-button:not(.collapsed) {
  box-shadow: none;
}
@media (min-width: 992px) {
  footer .accordion-button {
    cursor: auto !important;
  }
  footer .accordion::after, footer .accordion-button:after, footer .accordion-button:not(.collapsed)::after {
    display: none;
  }
}
@media (max-width: 992px) {
  footer .accordion > *, footer .row {
    width: 100vw;
  }
  footer .col-logo-lego, footer .social, footer .policy-links, footer .disclaimer {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  footer .container {
    margin-left: 0;
    margin-right: 0;
  }
  footer .accordion-item {
    padding-left: 0;
    padding-right: 0;
  }
  footer .accordion a {
    font-size: 0.875rem;
    border-bottom: 1px solid white;
  }
  footer .accordion h2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
@media (max-width: 576px) {
  footer button.position {
    width: 97px;
    height: fit-content;
    font-size: 1.125rem;
    padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
  }
  footer img.lego-logo {
    width: 4.375rem;
    height: 4.375rem;
  }
}

/* IMPORTARE GLI ALTRI SCSS PRIMA DI QUESTO */
.bg-warning {
  background-color: #fecf03 !important;
}

.cont-personal {
  width: 100vw;
  max-width: 1500px;
  margin: auto;
}

.rotate-180 {
  rotate: 180deg;
}

.container-xxxl {
  max-width: 1420px;
  width: 100vw;
  margin: auto;
}

.my-ratio {
  aspect-ratio: 1/1;
}

.z-index-1 {
  z-index: 1;
}

.fs-7 {
  font-size: 0.75rem;
}

.container-1600 {
  max-width: 1610px;
  width: 100vw;
  margin: auto;
}

.z-index-2 {
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
